tensorflow==2.15.0
tensorflow-intel==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflowjs==4.15.0
tensorflow-decision-forests==1.8.1
jax==0.4.34
jaxlib==0.4.34
flax==0.10.4
orbax-checkpoint==0.4.4
tensorstore==0.1.45
